.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.home-container {
  min-width: 320px;
  max-width: 700px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  
}



.leaderBoardContainer {
  min-width: 320px;
  max-width: 1000px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}




.long-login-container {
  min-width: 100px;
  max-width: 800px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.long-paper {
  padding: 20px;
  overflow: auto
}

.login-box-header {
  height: 50px;
  background-color: rgb(0, 0, 0);
}

.login-box-title {
  color: white;
  font-size:xx-large;
  font-weight: bold;
  text-align: center;
}

.login-box-message {
  text-align: center;
}

.login-controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}


.form-control {
  width: calc(100% - 10px);
  margin: 10px 0px !important;
}

.login-box-image {
  width: 30px;
  height: 30px;
}




.nav-link-button {
  color:black !important;
}



.long-newquestion-container {
  min-width: 320px;
  max-width: 500px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  
}

.long-new-question-paper {
  padding: 20px;
  overflow: auto
}

.new-question-box-header {
  height: 50px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-bottom-style: solid;
  border-color: lightgreen;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.new-question-controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}


.new-question-form-control {
  width: 100%;
}

.new-question-text {
  font-weight: bold;
  margin-top: 20px;
}

.new-question-separator {
  text-align: center;
}



.not-found-container {
  min-width: 320px;
  max-width: 600px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}



.not-found-title {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: black;
}

.not-found-message {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-top:100px;
  margin-bottom: 40px;
}



.poll-item-container {
  min-width: 320px;
  max-width: 450px;
  height: auto;
  margin: auto;
  
}


.poll-item-paper {
  overflow: auto
}

.poll-item-box-header {
  height: 50px;
  font-weight: bold;
  text-align: center;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.192);
  border-width: 5px;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}


.poll-item-controls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.poll-item-form-control {
  width: 100%;
  margin-top: 30px !important;
}

.poll-item-text {
  font-weight: bold;
  margin-top: 20px;
}

.poll-item-separator {
  text-align: center;
  background-color:rgba(0, 0, 0, 0.192);
  height: 100%;
  width: 5px;
}

.poll-item-main-title {
  
  font-weight: bold;
  font-size: 1em;
  height: 70px;
  
  
}



.poll-results-container {
  min-width: 320px;
  max-width: 500px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  
}


.poll-results-paper {
  overflow: auto
}

.poll-results-box-header {
  height: 50px;
  font-weight: bold;
  text-align: center;
  border-bottom-style: solid;
  border-color: lightgreen;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}


.poll-results-controls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.poll-results-form-control {
  width: 100%;
  margin-top: 30px !important;
}

.poll-results-text {
  font-weight: bold;
  margin-top: 20px;
}

.poll-results-separator {
  text-align: center;
  background-color: lightgreen;
  height: 100%;
  width: 1px;
}

.poll-results-main-title {
  
  font-weight: bold;
  font-size: 1em;
  height: 30px;
}

.poll-results-answer-grid {
  margin-top:30px !important;
}

.poll-results-vote-count {
  text-align: center;
  font-weight: bold;
}

.poll-results-answer-paper {
  padding: 10px;
}

.poll-results-answer-progress {
  height: 15px !important;
}

.poll-results-user-vote-div {
  width: 50px;
  text-align: center;
  margin-top: -10px;
  margin-left: 260px;
  position: absolute;
  height: 10px;
  opacity: 80%;
}




.pollResultsContainer {
  min-width: 320px;
  max-width: 500px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  
}


.pollResultsPaper {
  overflow: auto
}

.pollResultsBoxHeader {
  height: 50px;
  font-weight: bold;
  text-align: center;
  border-bottom-style: solid;
  border-color: lightgreen;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}


.pollResultsControls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.pollResultsFormControl {
  width: 100%;
  margin-top: 30px !important;
}

.pollResultsText {
  font-weight: bold;
  margin-top: 20px;
}

.pollResultsSeparator {
  text-align: center;
  background-color: lightgreen;
  height: 100%;
  width: 1px;
}

.pollResultsMainTitle {
  
  font-weight: bold;
  font-size: 1em;
  height: 30px;
}

.pollResultsAnswerGrid {
  margin-top:30px !important;
}

.pollResultsVoteCount {
  text-align: center;
  font-weight: bold;
}

.pollResultsAnswerPaper {
  padding: 10px;
}

.pollResultsAnswerProgress {
  height: 15px !important;
}

.pollResultsUserVoteDiv {
  background-color: orange;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  margin-top: -31px;
  margin-left: 260px;
  position: absolute;
  height: 50px;
}


.questionContainer {
  min-width: 320px;
  max-width: 1000px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  
}

.questionPaper {
  overflow: auto
}

.questionBoxHeader {
  height: 200px;
  font-weight: bold;
  text-align: center;
  border-bottom-style: solid;
  border-color: lightgreen;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}



.questionControls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.questionFormControl {
  width: 100%;
}

.questionText {
  font-weight: bold;
  margin-top: 20px;
}

.questionSeparator {
  text-align: center;
  background-color: lightgreen;
  height: 100%;
  width: 10px;
}

.questionMainTitle {
  
  font-weight: bold;
  font-size: 1.2em;
  
  
}



.score-card-container {
  margin: 'auto';
  max-width: 500;
  text-align: left
}

.score-card-img {
  margin: 'auto';
  display: 'block';
  max-width: '100%';
  max-height: '100%';
  width: 50px;
  height: 50px;
}


.score-card-separator {
  text-align: center;
  background-color: lightgreen;
  height:100%;
  width: 1px;
}

.score-card-separator-grid {
  max-width: 30px !important;
}

.score-card-score-paper {
  margin-left: -10px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.score-card-score-grid {
  height: 100%;
}

.score-card-score-box-header {
  height: 50px;
  font-weight: bold;
  
  text-align: center;
  border-bottom-style: solid;
  border-color: blue;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-card-badge {
  margin-top: 25px;
}


.score-card-name-box {
  font-weight: bold;
}